* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Comic Neue', cursive;
    background: radial-gradient(circle, rgba(43, 44, 46, 1) 13%, rgba(25, 25, 25, 1) 65%);
}

.cards {
    display: flex;
    width: 1000px;
}

.card {
    position: relative;
    margin: 10px;
    height: 800px;
    width: 50%;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
    overflow: hidden;
}

.one {
    background-image: url('assets/portrait-g8cb3c725c_1920.jpg');
}

.two {
    background-image: url('assets/man-gd909bf7d2_1920.jpg');
}

button { 
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 36px;
    text-shadow: 2px 2px 5px rgb(0,0,0);
    cursor: crosshair;
    z-index: 10;
}

button:hover~.text {
    clip-path: circle(120% at 50% 90%);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 80px 30px;
    background-color: rgba(0,0,0,.85);
    color: #ffffff;
    clip-path: circle(0 at 50% 90%);
    transition: clip-path .8s;
}

h1 {
    color: rgb(182, 179, 97);
}

h2 {
    margin-bottom: 30px;
    color: rgb(141, 138, 138);
}

